<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
</head>
<body>

<h1>Lista de usuarios</h1>

<p th:if="${usuarios.size() == 0}">No hay usuarios en la lista para mostrar</p>

<table>
    <thead>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombres}"></td>
        <td th:text="${usuario.apellidos}"></td>
        <td th:text="${usuario.correo}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>