<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi perfil</title>
</head>
<body>

<h1>Perfil de: <span th:text="${usuario.nombres}"></span></h1>

<span th:text="${usuario.nombres}"></span>
<span th:text="${usuario.apellidos}"></span>
<br>
<span th:if="${usuario.correo}" th:text="${usuario.correo}"></span>
<br>
<span th:if="${usuario.correo == null}">El usuario no tiene correo</span>

<table>
    <thead>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombres}"></td>
        <td th:text="${usuario.apellidos}"></td>
        <td th:text="${usuario.correo}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>